USE [tungptph02570_lab2]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 11/06/2013 10:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[SoTK] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[KieuTK] [nvarchar](50) NULL,
	[NgaymoTK] [date] NULL,
	[SoTien] [int] NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[SoTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/06/2013 10:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[HotenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDienthoai] [int] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_DICH]    Script Date: 11/06/2013 10:40:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_DICH](
	[MaGD] [nvarchar](50) NOT NULL,
	[SoTK] [nvarchar](50) NULL,
	[ThoiGianGD] [date] NULL,
	[SoTienGD] [int] NULL,
	[MoTaGD] [nvarchar](50) NULL,
	[SoDuTK] [int] NULL,
 CONSTRAINT [PK_GIAO_DICH] PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO